<% if current_user %>
    <h5>You are logged in, so just go ahead and create an application, or do something else.</h5>
<% else %>
    <p>Hello there, please login before doing anyhing.</p>
    <%= link_to "Login", login_path %>
<% end %>
