<h1>Sessions#logout</h1>
<p>Find me in app/views/sessions/logout.html.erb</p>

<%= form_for(:session) do |f| %>
    <div class="row">
        <%= f.submit "Logout", :class => "button-primary" %>
    </div>
<% end %>
